*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    
}
body{
    background-color:rgba(128, 128, 128, 0.079) ;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(14, 166, 14);
   
}

.logo{
    display: flex;
} 

.navbr{
    display: flex;
    font-size: small;

}

.navbrs{
    display: flex;
    transition: 0.2s steps(90);
}

.navbrs:hover{
    transform: rotate(20deg);
}

.card1{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.card2{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.card3{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.row1{
    display: flex;
}

.card4{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.card5{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.card6{
    display: flex;
    transition: 0.2s steps(120);
    box-shadow: 1px 1px 10px rgba(61, 61, 61, 0.374);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 10px 0px 30px;
    padding: 20px;
    line-height: 30px;
    height: 100px;
    width: 230px;
    border: 1px solid rgba(128, 128, 128, 0.207);
    background-color: white;
    border-radius: 10px;
}

.row2{
    display: flex;
}

.card1:hover{
    transform: scale(1.1,1.1);
}

.card2:hover{
    transform: scale(1.1,1.1);
}
.card3:hover{
    transform: scale(1.1,1.1);
}
.card4:hover{
    transform: scale(1.1,1.1);
}
.card5:hover{
    transform: scale(1.1,1.1);
}
.card6:hover{
    transform: scale(1.1,1.1);
}